.vscode
.codex
out
build
build-logs
arm11/build
arm9/build
k11_extension/build
sysmodules/loader/build
sysmodules/pm/build
sysmodules/pxi/build
sysmodules/rosalina/build
sysmodules/sm/build
chainloader/build
exceptions/arm9/build
exceptions/arm11/build
*.bin
*.firm
*.o
*.d
*.elf
*.cxi
*.3dsx
.DS_Store
*.dmp
.project
.cproject
.settings
*.lst

Luma3DS*.zip
hbmenu.zip
bin/
refrences/
crash dumps/
